{% extends 'index.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Login{% endblock %}

<!-- Custom styles for this template -->
{% block custom_css_links %}
    <link href="{% static 'bootstrap4/css/login.css' %}" rel="stylesheet">
{% endblock %}

{% block styles %}
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        
        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
{% endblock %}
{% block content %}
    <form class="form-signin text-center" method="POST">{% csrf_token %}
        <img class="mb-4" src="{% static 'bootstrap4/img/bootstrap-solid.svg' %}" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            {{ form|crispy }}
            {{ form.errors }}
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2017-2019</p>
    </form>
{% endblock %}