{% extends 'index.html' %}
{% load static %}

{% block title %}Dashboard{% endblock %}
<!-- Custom styles for this template -->
{% block custom_css_links %}
    <link href="{% static 'bootstrap4/css/dashboard.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'site/css/jquery-ui.css' %}">
{% endblock %}
{% block styles %}
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
            font-size: 3.5rem;
            }
        }
    </style>
{% endblock %}

{% block content %}
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Hi, {{ request.user.first_name }}</a>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="{% url 'logout-page' %}">Log out</a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                                <!-- <span data-feather="home"></span> -->
                                    Dashboard 
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a id="hotels"class="nav-link" href="{% url 'hotels-list-api' %}">
                                <span data-feather="home"></span>
                                    Hotels API
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'rooms-list-api' %}">
                                <span data-feather="bar-chart-2"></span>
                                    Rooms API
                            </a>
                        </li>
                    </ul>

                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Dashboard</h1>
                    <div class="btn-toolbar mb-2 mb-md-0">
                    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                            <span data-feather="calendar"></span>
                                This week
                    </button>
                    </div>
                </div>
                    
                    <form method="get">
                        <div class="form-group">
                            <label for="search">Where</label>
                            <input name="search" type="text" class="form-control"  aria-describedby="search" placeholder="Anywhere">
                        </div>

                        <div class="row">
                            <div class="col">
                                <label for="check-in">Check In</label>
                                <input type="text" class="form-control datepicker" placeholder="mm/dd/yyyy">
                            </div>
                            <div class="col">
                                <label for="check-out">Check Out</label>
                                <input type="text" class="form-control datepicker" placeholder="mm/dd/yyyy">
                            </div>
                        </div>
                    </form>
                    <div class="row">
                            {% for item in object_list %}
                            <div class="row" style="border: 1px solid rgba(0,0,0, 0.2); margin: 2% 0;">
                                <div class="col-sm">
                                    <h1>{{ item.hotel.name }}</h1>
                                    <p><b>Description : </b>{{ item.description }}</p>
                                    <p><b>Room Type : </b>{{ item.room_type }}</p>
                                    <p><b>Adults Capacity: </b>{{ item.adult_capacity }}</p>
                                    <p><b>Rate : </b>$ {{ item.rate }}</p>
                                    <ul>
                                    {% for facility in item.facilities.all %}
                                        <li>{{ facility.name }}</li>
                                    {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        {% empty %}
                            <div class="row">
                                <div class="col-sm">
                                    <h1>No Results Found</h1>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    
                </div>
               
            </main>
        </div>
    </div>
        
{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'bootstrap4/js/feather.min.js' %}"></script>
    <script src="{% static 'bootstrap4/js/dashboard.js' %}"></script>
    <script src="{% static 'site/js/jquery-1.12.4.js' %}"></script>
    <script src="{% static 'site/js/jquery-ui.js' %}"></script>
    <script>
        (function($){
            $(document).ready(function(){
                
                $( ".datepicker" ).datepicker();
        
            })
        })(jQuery)
    </script>
{% endblock %}
