{% extends 'index.html' %}
{% load static%}

{% block custom_css_links %}
    <link href="{% static 'bootstrap4/css/cover.css' %}" rel="stylesheet">
    <link href="{% static 'site/css/styles.css' %}" rel="stylesheet">
{% endblock %}

{% block styles %}
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
{% endblock %}

{% block content %}
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">

        </header>

        <main role="main" class="inner cover text-center">
            <h1 class="cover-heading">Hotel Booking API</h1>
            <p class="lead">Hotel Booking API is a BackEnd Application Programming Interface intended to reserve customer on a specific hotel.</p>
            <p class="lead">
                <a id="loginBtn" href="{% url 'login-page' %}" class="btn btn-lg btn-secondary">Login</a>
            </p>
        </main>

        <footer class="mastfoot mt-auto text-center">
            <div class="inner">
                <p> &copy <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://codepen.io/mhelpogi17/full/gRYXYd">rpafurong</a>.</p>
            </div>
        </footer>
    </div>
{% endblock %}