{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>Hotel Booking API | {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap4/css/bootstrap.min.css' %}">
    {% block custom_css_links %}{% endblock %}
    {% block styles %}{% endblock %}
</head>
<body>
    {% block content %}
    {% endblock %}

    <script src="{% static 'bootstrap4/js/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'bootstrap4/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'bootstrap4/js/popper.min.js' %}"></script>
    {% block extra_scripts %}
    {% endblock %}
</body>
</html>