body {
  background-image: url('/static/site/img/bedroom.jpg');
  background-repeat: no-repeat;
  background-position: 0%;
  background-size: 100%;
  color: white;
}

main.inner.cover{
    background: linear-gradient(45deg, black, transparent);
    padding: 3% 3%;
}

#loginBtn{
    background-color: #B16774;
    color: #fff;
}